<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>To Do</title>

	<link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet"  href="static/css/font-awesome.min.css">
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
	-->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/vue.js"></script>
	<script src="static/js/vue-resource.js"></script>
	<link rel="stylesheet" href="static/css/app.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid col-md-8">
            <div class="navbar-header">
                <a class="navbar-brand">To Do</a>
            </div>
        </div>
        <div class="navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-user-circle fa-lg"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
	<div class="container" id="app">
		<div v-if="isLogin">
		<div class="row">
			<div class="col-md-8">
				<h1>My Tasks</h1>

				<div class="input-group">
					<input type="text" class="form-control" placeholder="New Task" v-on:keyup.enter="createTask" v-model="newTask.title" autofocus>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" v-on:click="createTask">Create</button>
                    </span>
				</div>

				<br>
				<h2>On Going</h2>
				<div v-for="task in tasks" style="margin-bottom: 5px;">
					<div v-if="task.done===false" class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-info" type="button" :disabled="task.done===true" v-on:click="updateTask(task, true)"><i class="fa fa-check" aria-hidden="true"></i></button>
						</span>

						<input type="text" class="form-control" :disabled="task.done===true" v-model="task.title" v-on:keyup.enter="updateTask(task)">
				

						<span class="input-group-btn">
							<button class="btn btn-info" type="button" v-on:click="updateTask(task)">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
							<button class="btn btn-danger" type="button" v-on:click="deleteTask(task.id)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
						</span>
					</div>
				</div>

				<br>
				<h2>Completed</h2>
				<div v-for="task in tasks" style="margin-bottom: 5px;">
					<div v-if="task.done===true" class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-info" type="button" :disabled="task.done===true" v-on:click="updateTask(task, true)"><i class="fa fa-check" aria-hidden="true"></i></button>
						</span>

						<input type="text" class="form-control" :disabled="task.done===true" v-model="task.title" v-on:keyup.enter="updateTask(task)">

						<span class="input-group-btn">
							<button class="btn btn-info" type="button" :disabled="task.done===true" v-on:click="updateTask(task)"><i class="fa fa-edit" aria-hidden="true"></i></button>
							<button class="btn btn-danger" type="button" v-on:click="deleteTask(task.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>
		</div> <!-- end App -->
		<!-- begin Login -->
		<div v-if="!isLogin">
			<div class="row">
				<div class="col-md-offset-4 col-md-4">
					<form>
						<div class="form-group">
							<input type="username" class="form-control" v-model="user.username" placeholder="用户名">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" v-model="user.password"  placeholder="密码">
						</div>
						<button type="button" @click="login()" class="btn btn-default">登陆</button>
					</form>
				</div>
			</div>
		</div>
		<!-- end Login -->
		<!-- toast -->
		<div class="toast" v-if="toast.show">
			<p>{{toast.message}}</p>
		</div>
	</div>

<style type="text/css">
#flask_error_page {
	display: none;
}
#flask_error_page>iframe {
	border: none;
	border-top: solid 10px red;
	width: 100%;
	min-height: 900px;
}
</style>
<div id="flask_error_page"></div>
<script type="text/javascript" src="static/js/app.js"></script>
</body>
</html>
